.profile-menu {
	position: relative;

	@include flexBox($justify: space-around);

	transition: all 0.3s ease-in-out;

	&__picture {
		height: 5.5rem;
		width: 5.5rem;

		border-radius: 50%;
		border: 0.2rem black solid;
		background-color: $almost-white;

		cursor: pointer;
	}

	#{&}__items {
		position: absolute;
		min-width: 20rem;
		right: 0.8rem;
		top: 5.5rem;
		z-index: 10;

		@include flexBox($align: center);
		@include text-body();
		gap: 1rem;
		padding: 1rem;

		.option {
			@include flexBox($direction: row);
			width: 80%;
			color: black;
			background-color: $almost-white;
			border: 0.2rem solid black;
			padding: 0.5rem 1rem;
			position: relative;

			&::before {
				content: '';
				position: absolute;
				height: 100%;
				width: 100%;
				border: 0.1rem solid $light-vermillon;
				background: $light-vermillon-gradient;
				transform: translateZ(-0.1rem);
				z-index: -1;
				bottom: -0.2rem;
				left: -0.2rem;
				transition: all 0.3s;
				opacity: 0;
			}

			&:hover {
				color: $light-vermillon;
			}
			&:hover::before {
				bottom: -0.8rem;
				left: -0.8rem;
				opacity: 1;
			}
		}
	}
}

.picture {
	@include flexBox();
	width: 6.5rem;
	height: 6.5rem;
	// border: 0.3rem solid black;
	border-radius: 50%;
	overflow: hidden;
	
	img {
		width: auto;
		overflow: hidden;
		z-index: 2;
	}
}