.profile-menu {
	position: relative;

	@include flexBox($justify: space-around);

	&__picture {
		height: 5rem;
		width: 5rem;

		// border-radius: 50%;
		border: 0.2rem black solid;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;

		background-image: $profile-pic2;
	}

	#{&}__items {
		position: absolute;
		min-width: 25rem;
		right: -1.5rem;
		top: 9rem;
		z-index: 10;

		background-color: $almost-white;
		border: 0.3rem black solid;
		// border-radius: 0.5rem;

		@include flexBox($align: left);
		@include text-body();
		gap: 1rem;
		padding: 1rem;

		.header {
			width: 100%;
			@include flexBox($direction: row, $justify:left);
			gap: 2rem;

			padding: 1rem 0;
			border-bottom: 1px black solid;
			.profile-menu__picture {
				height: 6.5rem;
				width: 6.5rem;
			}
		}

		.option {
			@include flexBox($direction: row);
			width: 100%;
		}
	}
}