@import '../../abstracts/mixin.scss';
@import '../../abstracts/variables.scss';

.container {
	width: 100%;
	padding: 2rem 3rem;
    justify-content: space-between;


    .info {
        margin-top: 2rem;
        position: relative;
        width: 100%;
        margin-bottom: 2rem;
        font-size: x-small;
    }

    .error {
        margin-top: 2rem;
        // font-weight: 800;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
    }

    button {
		@include buttonMixin();	
	}
    
    .deleteButton {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        left: 65%;
    }
    
    .clickDelete {
        
        h3 {
            padding-top: 3rem;
            padding-bottom: 1rem;
            font-size: large;
        }
        
        .actions {
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .cancelButton {
            @include buttonMixin($color: $gunmetal-dark);	
        }
    }
}