@import '../../abstracts/mixin.scss';
@import '../../abstracts/variables.scss';

.container {
	width: 35rem;
	padding: 2rem 3rem;
    justify-content: space-between;

    .info {
        // font-weight: 800;
        margin-top: 2rem;
        position: relative;
        width: 100%;
        // border: 0.2rem solid black;
        padding: 1.5rem 1rem;
        // @include flexBox($direction: row);
        position:relative;
        transform-style: preserve-3d;
        background-color: $almost-white;      
        margin-bottom: 2rem;
        font-size: x-small;
    }

    .error {
        margin-top: 2rem;
        // font-weight: 800;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
    }

    button {
		@include buttonMixin();	
	}
}