@import '../../abstracts/mixin.scss';
@import '../../abstracts/variables.scss';

.container {
    // background-color: blue;

    height: 5.5rem;
    width: 100%;

    // border-bottom: 0.1rem solid $gunmetal;

    display: grid;
    grid-template-columns: 4rem 2fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;
 

    // background-color: red;
    
    &:hover {
        background-color: $silver-light;
    }


    
    .picture {
        width: 4rem;
        margin: 0 1rem;
    }

    .info {
        
        margin-left: 2rem;
        // width: 100%;
        // height: 100%;

        .name {
            // color: palevioletred;
            font-weight: bold;
            overflow: hidden;
            width: 10rem;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .lastMessage {
            // color: yellow;
            font-size: small;
            color: $gunmetal-dark;
            overflow: hidden;
            width: 10rem;
            white-space: nowrap;
            text-overflow: ellipsis ;
        }

    }
    
    .delete {
        margin-left: 16.5rem;
        margin-top: -5rem;
    }
    
    .delete:hover {
        stroke: black;
        stroke-width: 3;
    }

}

.selected {
	background-color: $silver-light;
}