@import '../../abstracts/mixin.scss';
@import '../../abstracts/variables.scss';

.container {
    width: 90%;
	display: flex;
	justify-content: space-between;
    margin-left: 1rem;

    .add {
        margin-top: 0.3rem;
    }

    .add:hover {
        color: $light-vermillon;

    }
}