@import '../abstracts/mixin.scss';
@import '../abstracts/variables.scss';

.gamePage {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	max-width: 100%;
	height: 100%;
}