@import '../abstracts/mixin.scss';
@import '../abstracts/variables.scss';


.main {
	
	height: 100%;
	width: 100%;
	margin: 0 5rem;
	@include flexBox($direction: row);

	.rules {

		height: 100%;
		width: 40rem;
		padding: 3rem 0;
		
		@include flexBox($justify: flex-start);
		gap: 3rem;
		
		h1 {
			@include titleh1();
		}
		
		.info {
			border: 0.2rem solid black;
			height: 100%;
			width: 100%;
			padding: 2rem;
			@include flexBox($justify: flex-start, $align: flex-start);

			h2 {
				@include titleh1($fontSize: 2.4rem, $width: 24rem);
				margin-bottom: 2rem;
			}
		}
	}

}