@import '../abstracts/mixin.scss';
@import '../abstracts/variables.scss';

.page {
	font-size: 1.6rem;

	height: 90%;
	width: 90%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 4.5rem 1fr;
	gap:2rem;

	.filter {
		grid-column: 2 / 3;
		grid-row: 1 / 3;
		width: 4.5rem;
		height: 4.5rem;
		margin-left: auto;
		background-color: $almost-white;

		border: 0.2rem solid black;
		@include flexBox($justify: center, $align: flex-start);
		// margin-left: auto;
	}

	.searchbar {
		grid-column: 1 / 3;
		grid-row: 1 / 2;
		padding: 0 0.5rem;
		@include flexBox($justify: center, $align: flex-start);
		position: relative;
		transform-style: preserve-3d;

		background-color: $almost-white;
		border: 0.2rem solid black;
		width: 4.5rem;
		height: 4.5rem;
		transition: all 0.3s;

		&::before {
			content:'';
			position: absolute;
			width: 100%;
			height: 100%;
			background: $light-vermillon-gradient;
			border: 0.15rem $light-vermillon solid;
			transform: translateZ(-1px);
			left: -1rem;
			bottom: -1rem;
			transition: all 0.3s;

		}

		&:hover {
			width: 92%;
			&::before {
				width: 100%;
			}
		}
	}

	.content {
		grid-column: 1 / 3;
		grid-row: 2 / 3;
		background-color: $almost-white;
		border: 0.2rem solid black;
		overflow: scroll;
		overflow-x: hidden ;

		@include shadowBox();

	}
}
