@import '../../abstracts/mixin.scss';
@import '../../abstracts/variables.scss';

.loggin {

	@include flexBox($justify: center);
	gap: 5rem;

	.button {
		@include buttonMixin();
		span {
			font-size: 3rem;
		}
	}
}

.logginForm {
	margin-bottom: 3rem;
	width: 28rem;
	@include flexBox();
	gap: 2rem;
	@include text-body();


	h1 {
		@include titleh1();
	}
	button {
		@include buttonMixin();
	}
	
	.label {
		position: relative;
		width: 100%;
		border: 0.2rem solid black;
		padding: 1.5rem 1rem;
		@include flexBox($direction: row);
		position:relative;
		transform-style: preserve-3d;
		background-color: $almost-white;
	
		input {
			width: 13rem;
			height: 3rem;
			border: 0.2rem black solid;
			text-align: right;
			padding: 0 0.8rem ;
		}
	
		&::before {
			content: '';
			position: absolute;
			height: 100%;
			width: 100%;
			transform: translateZ(-0.1rem);
			background: $light-vermillon;
			z-index: -2;
			bottom: -0.8rem;
			left: -0.8rem;
			transition: all 0.3s;
			opacity: 1;
		}
	}

	.error {
		position: relative;
		width: 100%;
		border: 0.2rem solid black;
		padding: 1.5rem 1rem;
		@include flexBox($direction: column, $align: flex-start);
		position:relative;
		transform-style: preserve-3d;
		background-color: $almost-white;

		span {
			font-weight: 800;
			font-size: 1.6rem;
		}

		&::before {
			content: '';
			position: absolute;
			height: 100%;
			width: 100%;
			transform: translateZ(-0.1rem);
			background: $light-vermillon;
			z-index: -2;
			bottom: -0.8rem;
			left: -0.8rem;
			transition: all 0.3s;
			opacity: 1;
		}
	}

}


.test {
	font-size: 1.8rem;

	.code {
		width: 30rem;
		@include flexBox($direction: column);
		label {
			@include titleh1();
			margin-bottom: 3rem;
		}
		
		input {
			text-align: center;
			height: 3rem;			
		}	
	}
}