@import '../../abstracts/mixin.scss';
@import '../../abstracts/variables.scss';


.container {
	width: 35rem;
	height: 45rem;
	padding: 3rem 2rem;

	gap: 2rem;
	border: 0.2rem solid black;
	position: relative;
	transform-style: preserve-3d;
	@include flexBox();
	@include shadowBox();

	@include text-body();

	h1 {
		@include titleh1();
	}

	p {
		text-align: center;
		span {
			font-weight: 800;
			color: $light-vermillon;
		}
	}

	img {
		width: 20rem;
		height: 20rem;
		padding: 2.5rem;
		border: 0.2rem solid black;
		@include shadowBox();
	}

	.switch {
		position: relative;
		display: inline-block;
		width: 6rem;
		height: 3rem;
		position:relative;
		transform-style: preserve-3d;


		input {
			opacity: 0;
			width: 0;
			height: 0;
		}

		.slider {
			border: 0.2rem solid black;
			position: absolute;
			width: 6rem;
			height: 3.4rem;
			cursor: pointer;
			top:0;
			left: 0;
			right: 0;
			bottom: 0;
			// background-color: #ccc;
			transition: .4s;

			&:hover {
				border-color: $yellow;
			}

			&::after {
				content: '';
				position: absolute;
				height: 100%;
				width: 100%;
				transform: translateZ(-0.1rem);
				z-index: -1;
				bottom: -0.5rem;
				left: -0.7rem;
				background-color: $light-vermillon;
				opacity: 1;
				transition: all 0.3s;
			}


			&::before {
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				content: 'off';
				color: white;
				text-align: center;
				height: 2.6rem;
				width: 2.6rem;
				left: 0.4rem;
				bottom: 0.4rem;
				// background-color: rgb(255, 255, 255);
				transition: .4s;
			}
		}

		input:focus {
			+ .slider {
				box-shadow: 0 0 0.1rem $light-vermillon;
			}
		}
		
		input:checked {
			+ .slider::before {
				content:'on';
				transform: translateX(2.6rem);
			}
		}

		input:checked {
			+ .slider::after {
				left: 0.7rem;
			}
		}
	}
}
