.profil-card {
	@include flexBox($justify: top, $align: left);
	gap: 1rem;

	padding: 2rem;
	border: 0.2rem black solid;

	&__picture {
		height: 15rem;
		width: 15rem;
		background-color: red;

		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;

		background-image: url('../../assets/images/profil-pic.jpg');

	}

	&__user {
		padding: 0.5rem 0;
		border-bottom: 0.2rem black solid;
		h1 {
			font-size: 2rem;
			color: $silver;
			font-weight: 400;
			font-style: italic;
		}
		p {
			font-size: 1.4rem;
			font-weight: bold;
		}
	}

	&__stat {
		#{&}__info {
			margin: 1rem 0;
			padding: 0.5rem 0;
			border-bottom: 0.2rem black solid;
			font-size: 1.4rem;
			@include flexBox($direction: row);
			i {
				width: 1rem;
			}
			p {
				margin-left: 1.2rem;
				font-weight: bold;
			}
		}
	}
}