@import './_variables';

@mixin text-body($color: black) {
	font-size: 1.5rem;
	line-height: 2.6rem;
	color: $color;
	font-weight: 400;
}

@mixin text-head-xs($color: black) {
	font-size: 1.8rem;
	line-height: 2.4rem;
	color: $color;
	font-weight: bold;
}
@mixin text-header-s($color: black) {
	font-size: 2rem;
	line-height: 2.4rem;
	color: $color;
	font-weight: bold;
}
@mixin text-head-m($color: black) {
	font-size: 3.2rem;
	line-height: 3.2rem;
	color: $color;
	font-weight: bold;
}
@mixin text-head-l($color: black) {
	font-size: 4rem;
	line-height: 4rem;
	color: $color;
	font-weight: bold;
}
@mixin text-head-xl($color: black) {
	font-size: 5.6rem;
	line-height: 5.6rem;
	color: $color;
	font-weight: bold;
}


@mixin flexBox($direction: column, $justify: space-between, $align: center) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

@mixin shadowBox() {
	box-shadow: -8px 5px 0px 1px $light-vermillon;
}