@import './variables';

@mixin text-body($color: black) {
	font-size: 1.5rem;
	line-height: 2.6rem;
	color: $color;
	font-weight: 400;
}

@mixin text-header-xs($color: black) {
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: $color;
	font-weight: bold;
}
@mixin text-header-s($color: black) {
	font-size: 2rem;
	line-height: 2.4rem;
	color: $color;
	font-weight: bold;
}
@mixin text-header-m($color: black) {
	font-size: 3.2rem;
	line-height: 3.2rem;
	color: $color;
	font-weight: bold;
}
@mixin text-header-l($color: black) {
	font-size: 4rem;
	line-height: 4rem;
	color: $color;
	font-weight: bold;
}
@mixin text-header-xl($color: black) {
	font-size: 5.6rem;
	line-height: 5.6rem;
	color: $color;
	font-weight: bold;
}


@mixin flexBox($direction: column, $justify: space-between, $align: center) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

@mixin shadowBox($color: $light-vermillon) {
	box-shadow: -0.8rem 0.5rem 0rem 0.1rem $color;
}

@mixin pictureProfil($url: $profile-pic, $width: 5rem, $height: 5rem) {
	height: $width;
	width: $height;

	background-image: $url;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}