@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

$background-color: #F2F2F2;
$line-color: #2E3840;
$almost-white: #FFFDFA;
$dark-space-blue:#00001A;
$gunmetal:#5E607A;
$light-vermillon:#F15D51;
$silver:#C5C6CE;
$dark-beige: #F9DBBB



