@import '../../abstracts/mixin.scss';
@import '../../abstracts/variables.scss';

.container {
	display: flex;
	grid-row-start: 1;
	grid-column-start: 1;
	grid-column-end: 4;
	z-index: 3;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4);

	
	.content {
		@include flexBox();
		@include text-body();
		max-width: 55%;
		max-height: 100%;
		padding: 4.5%;
		gap: 1.8rem;
		background-color: $almost-white;
		border: 0.3rem solid black;
	}

	.option {
		@include flexBox($direction: row);
		gap: 1rem;
	}

	button {
		@include modalButtonMixin($fontSize: 1.5rem);
	}

	.button-cancel {
		@include modalButtonMixin($fontSize: 1.5rem, $color: $gunmetal-dark)
	}
}

