@import '../../abstracts/mixin.scss';
@import '../../abstracts/variables.scss';

.container {
	display: flex;
	grid-row-start: 1;
	grid-column-start: 1;
	z-index: 2;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.1);

	.content {
		padding: 5rem;
		background-color: $almost-white;

		border: 0.3rem solid black;
		font-size: 1.6rem;
		font-weight: 800;
	}
}

// .container {
// 	display: flex;
// 	grid-row-start: 1;
// 	grid-column-start: 1;
// 	z-index: 2;
// 	width: 100%;
// 	height: 100%;
// 	justify-content: center;
// 	align-items: center;
// 	background-color: rgba(0, 0, 0, 0.5);

// 	.content {
// 		position: relative;
// 		height: 150px;
// 		width: 100%;
// 		max-width: 320px;

// 		@include text-body();
// 		@include flexBox($justify: center);
// 		gap: 20px;

// 		background-color: $background-color;
// 		border: 0.3rem solid $light-vermillon;
		
		
// 		.subcontent {
// 			@include flexBox($justify: center);
// 			width: 90%;
// 			background-color: $almost-white;
// 			// border: 0.2rem solid black;
// 			padding: 3rem 2rem;

// 			position: relative;
// 			transform-style: preserve-3d;
// 			animation: 0.5s ease-in-out infinite changePadding;
			
// 			&::before {
// 				content: '';
// 				position: absolute;
// 				height: 100%;
// 				width: 100%;
// 				// border: 0.1rem solid $light-vermillon;
// 				// background: repeating-linear-gradient(-45deg, $light-vermillon, $light-vermillon 3px, white 2px, white 6px);
// 				transform: translateZ(-0.1rem);
// 				z-index: -1;
// 				bottom: 1rem;
// 				left: 1rem;
// 				// animation: movingBefore 3s ease infinite;
// 				// transition: all 0.3s;
// 			}
	

// 			h2 {
// 				// z-index: 20;

// 				&::before {
// 					position: absolute;
// 					content: '';
// 					width: 15rem;
// 					height: 5rem;
// 					background-color: $almost-white;
// 					transform: translateZ(-0.1rem);
// 					z-index: 19;

// 					animation-name: movingBefore;
// 					animation-duration: 4.5s;
// 					animation-timing-function: ease;
// 					animation-fill-mode: forwards;
	
// 				}

// 			}

// 			i {
// 				z-index: 20;

// 				position: absolute;
// 				color: $light-vermillon;
// 				font-size: 7rem;
// 				// top: 0;
// 				right: 0;
// 				animation-name: movingPaddle;
// 				animation-duration: 2s;
// 				animation-timing-function: ease;
// 				animation-fill-mode: forwards;
// 			}
// 		}
// 	}
	
// 	button {
// 		padding: 10px;
// 		background-color: $light-vermillon;
// 		color: $background-color;
// 		border-radius: 6px;
	
// 		@include text-body($color: $background-color);
// 	}
// }


// @keyframes movingBefore {
// 	0% {
// 		transform: translateX(0);
// 	}

// 	70% {
// 		width: 0rem;
// 	}
// 	100% {
// 		width: 0rem;
// 		transform: translateX(-10rem);

// 	}
// }

// @keyframes movingPaddle {
// 	0% {
// 		transform: translateX(0);
// 	}

// 	100% {
// 		transform: translateX(-20rem);

// 	}
// }

// @keyframes changePadding {
// 	0% {
// 		padding: 0rem;
// 	}

// 	100% {
// 		padding: 30rem;
// 	}
// }
