@import '../../abstracts/mixin.scss';
@import '../../abstracts/variables.scss';

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	z-index: 1;

	.content {
		margin: auto;
		height: 80%;
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		background-color: $almost-white;
		align-items: start;
		justify-content: end;
		z-index: 1;

	}

	.icon {
		margin: auto;
		height: 80%;
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		background-color: $almost-white;
		align-items: start;
		justify-content: end;
		z-index: 1;

	}
	
	h1 {
		writing-mode: vertical-lr;
    	transform:rotate(180deg);
		@include text-header-xxl($color: black)
	}
}