@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

$background-color: #F2F2F2;
$almost-white: #FFFDFA;
$dark-space-blue:#00001A;
$gunmetal-light:#b0b2b3;
$gunmetal:#5E607A;
$gunmetal-dark:#464647;
$light-vermillon:#F15D51;
$silver:#C5C6CE;
$silver-light:#e5e6eb;
$yellow:#E9AA52;
$dark-beige:#F9DBBB;

$light-vermillon-gradient: linear-gradient(90deg, rgba(240,117,106,1) 0%, rgba(241,93,81,1) 35%, rgba(244,81,68,1) 100%);


// Second palette color



$profile-pic: url('../../assets/images/profile-pic.jpg');
$profile-pic2: url('../../../assets/images/profile-pic.jpg');

$olivia-pic: url('../../assets/images/owalsh.jpg');
$fany-pic: url('../../assets/images/foctavia.jpg');
$yangchi-pic: url('../../assets/images/yangchi.jpg');
