@import '../../abstracts/mixin.scss';
@import '../../abstracts/variables.scss';

.profilPic{
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	position: relative;
	width: 5rem;
	cursor: pointer;
	
	.picture {
		@include flexBox();
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		overflow: hidden;
		
		img {
			width: auto;
			height: 100%;
			z-index: 2;
		}
	}
	i {
		position: absolute;
		left: 3.5rem;
		border: 0.2rem $almost-white solid;
		border-radius: 50%;
		font-size: 1.5rem;
		z-index: 3;
		overflow: visible;
		
	}

}