@import '../../abstracts/mixin.scss';
@import '../../abstracts/variables.scss';

.container {
	width: auto;
	height: auto;
	min-height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 4rem 1fr;
	gap: 2rem;


	.tab {
		@include flexBox($direction: row, $justify: flex-start);
		gap: 2rem;
		.btn {
			@include buttonMixin();
		}
	}

	.tabContent {
		@include flexBox($justify: flex-start);
		@include shadowBox();
		overflow: scroll !important;
		background-color: $almost-white;
		min-height: 100%;
		padding: 2rem;
		// overflow: hidden;
		overflow-x: hidden !important;
		// overflow-y: hidden !important;
		border: 0.2rem solid black;
		
		.listContent {
			width: 100%;
			height: 100%;
			@include flexBox($justify: flex-start);
			gap: 1rem;

		}
	}
}
