/* Global */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}
html, body {
	font-family: 'Inter', sans-serif;
	font-size: 62.5%;
}

/* Body */
body {
	min-height: 100vh;
	max-width: 110rem;
	min-width: 76.8rem;
	margin: 0 auto;
	background-color: $background-color;
	@include flexBox($justify: center);
}


/* Selector */
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none !important;
}

.nav-link {
	text-decoration: none !important;
	color: black;
	&:hover {
		color: $light-vermillon;
	}
}

button {
	font-family: 'Inter', sans-serif;
}

main {
	height: 60rem;
	min-width: 76.8rem;
	max-width: 110rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem 3rem;
	background-color: $almost-white;

	border: 0.3rem black solid;

	@include shadowBox();
	// position: absolute;
}
/* --- Homepage --- */